body {
    margin: 0;
    padding: 0;
    border: none;
}
.container {
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
}
.main {
    display: flex;
    margin-top: 100px;
}
#grid {
    width: 750px;
    height: 750px;
    border: 2px solid black;
    padding: 10px;
}
.controls {
    width: 500px;
    height: 750px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.control {
    background-color: aqua;
    width: 30%;
    height: 200px;
}
#grid {
    display: flex;
    flex-wrap: wrap;
}